<div class=" FilteringColumn col_by_1 ">
    <div class="block block-layered-nav gomage-navigation-slider-type-cone gomage-navigation-icons-1F5070">
        <div class="block-title">
            <strong>
            <span>Filtrer par</span>
            </strong>
        </div>
        <div class="block-content" id="gan-block-content">
            <p class="block-subtitle">
                <span>Affiner la recherche </span>
                
            </p>
            <div id="narrow-by-list">
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('genre');">
                    <span class="filter-name">Genre</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-genre">
                    <ol class=" ">
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmec0b1.html?genre=11">
                            Homme       </a>
                            (52)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme7278.html?genre=10">
                            Femme       </a>
                            (598)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeddc3.html?genre=618">
                            Mixte       </a>
                            (52)
                        </li>
                        <li style="display:none;">
                            Enfant                      (0)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('marque_lunettes');">
                    <span class="filter-name">Marque</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-marque_lunettes">
                    <ol class=" ">
                        <li style="display:none;">
                            #Fan2Foot                       (0)
                        </li>
                        <li style="display:none;">
                            Allez les Bleus                     (0)
                        </li>
                        <li style="display:none;">
                            Arnette                     (0)
                        </li>
                        <li style="display:none;">
                            Attitude Fashion                        (0)
                        </li>
                        <li style="display:none;">
                            Attitude Gold                       (0)
                        </li>
                        <li style="display:none;">
                            Avengers                        (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme5e84.html?marque_lunettes=544">
                            Baila       </a>
                            (22)
                        </li>
                        <li style="display:none;">
                            Banana Moon                     (0)
                        </li>
                        <li style="display:none;">
                            Benetton                        (0)
                        </li>
                        <li style="display:none;">
                            Bollé                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeb18c.html?marque_lunettes=396">
                            Boss Orange     </a>
                            (9)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmef9da.html?marque_lunettes=381">
                            Calvin Klein        </a>
                            (15)
                        </li>
                        <li style="display:none;">
                            Calvin Klein Collection                     (0)
                        </li>
                        <li style="display:none;">
                            Calvin Klein Platinium                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme6cbd.html?marque_lunettes=380">
                            Carrera     </a>
                            (8)
                        </li>
                        <li style="display:none;">
                            Cébé                        (0)
                        </li>
                        <li style="display:none;">
                            Cerruti                     (0)
                        </li>
                        <li style="display:none;">
                            Cerruti                     (0)
                        </li>
                        <li style="display:none;">
                            Cerruti 1881                        (0)
                        </li>
                        <li style="display:none;">
                            Chevignon                       (0)
                        </li>
                        <li style="display:none;">
                            Chevignon Junior                        (0)
                        </li>
                        <li style="display:none;">
                            Christian Lacroix                       (0)
                        </li>
                        <li style="display:none;">
                            CK                      (0)
                        </li>
                        <li style="display:none;">
                            ck Calvin Klein                     (0)
                        </li>
                        <li style="display:none;">
                            CK Jeans                        (0)
                        </li>
                        <li style="display:none;">
                            CK Platinum                     (0)
                        </li>
                        <li style="display:none;">
                            Columbia                        (0)
                        </li>
                        <li style="display:none;">
                            Converse                        (0)
                        </li>
                        <li style="display:none;">
                            DDP                     (0)
                        </li>
                        <li style="display:none;">
                            Diesel                      (0)
                        </li>
                        <li style="display:none;">
                            Disney Cars                     (0)
                        </li>
                        <li style="display:none;">
                            Disney Reine Des Neiges                     (0)
                        </li>
                        <li style="display:none;">
                            Dragon                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme9c1f.html?marque_lunettes=547">
                            Drew. S     </a>
                            (55)
                        </li>
                        <li style="display:none;">
                            Eden Park                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmef9aa.html?marque_lunettes=548">
                            Elite Eyewear       </a>
                            (69)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme7ee4.html?marque_lunettes=377">
                            Elle        </a>
                            (9)
                        </li>
                        <li style="display:none;">
                            Emporio Armani                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme2335.html?marque_lunettes=375">
                            Esprit      </a>
                            (7)
                        </li>
                        <li style="display:none;">
                            Everman                     (0)
                        </li>
                        <li style="display:none;">
                            Exess                       (0)
                        </li>
                        <li style="display:none;">
                            Façonnable                      (0)
                        </li>
                        <li style="display:none;">
                            Façonnable Denim                        (0)
                        </li>
                        <li style="display:none;">
                            Façonnable Jeans                        (0)
                        </li>
                        <li style="display:none;">
                            Façonnable New Vintage                      (0)
                        </li>
                        <li style="display:none;">
                            Façonnable pour les garçons                     (0)
                        </li>
                        <li style="display:none;">
                            Façonnable Progress Design                      (0)
                        </li>
                        <li style="display:none;">
                            Façonnable Progressdesign                       (0)
                        </li>
                        <li style="display:none;">
                            Fendi                       (0)
                        </li>
                        <li style="display:none;">
                            G-Star Raw                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme060e.html?marque_lunettes=616">
                            Gabin & Léonie      </a>
                            (33)
                        </li>
                        <li style="display:none;">
                            Gucci                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme4b88.html?marque_lunettes=37">
                            Guess       </a>
                            (28)
                        </li>
                        <li style="display:none;">
                            Hello Kitty                     (0)
                        </li>
                        <li style="display:none;">
                            Hugo                        (0)
                        </li>
                        <li style="display:none;">
                            Hugo Boss                       (0)
                        </li>
                        <li style="display:none;">
                            I-Titane                        (0)
                        </li>
                        <li style="display:none;">
                            I-Titane Carbone                        (0)
                        </li>
                        <li style="display:none;">
                            I-Titane Gom                        (0)
                        </li>
                        <li style="display:none;">
                            I-Titane Original 1962                      (0)
                        </li>
                        <li style="display:none;">
                            iCare                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeaf53.html?marque_lunettes=622">
                            Jaw     </a>
                            (8)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmebd2a.html?marque_lunettes=34">
                            JF Rey      </a>
                            (6)
                        </li>
                        <li style="display:none;">
                            Julbo                       (0)
                        </li>
                        <li style="display:none;">
                            Just Cavalli                        (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmed8fc.html?marque_lunettes=393">
                            Karl Lagerfeld      </a>
                            (31)
                        </li>
                        <li style="display:none;">
                            Kenzo                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmea2e1.html?marque_lunettes=581">
                            Kosby       </a>
                            (2)
                        </li>
                        <li style="display:none;">
                            L'Amy                       (0)
                        </li>
                        <li style="display:none;">
                            Lacoste                     (0)
                        </li>
                        <li style="display:none;">
                            Lamy                        (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme161c.html?marque_lunettes=477">
                            Le Temps des Cerises        </a>
                            (15)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeefc0.html?marque_lunettes=506">
                            Les Personnalités       </a>
                            (21)
                        </li>
                        <li style="display:none;">
                            Les Triplés                     (0)
                        </li>
                        <li style="display:none;">
                            Levi's                      (0)
                        </li>
                        <li style="display:none;">
                            Little Paul & Joe                       (0)
                        </li>
                        <li style="display:none;">
                            Lolita Lempicka                     (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme6203.html?marque_lunettes=594">
                            Marc Jacobs     </a>
                            (1)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme060b.html?marque_lunettes=29">
                            Maritza     </a>
                            (4)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme4fe2.html?marque_lunettes=595">
                            Max Mara        </a>
                            (12)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme41cb.html?marque_lunettes=540">
                            Medley      </a>
                            (55)
                        </li>
                        <li style="display:none;">
                            Medley Sport                        (0)
                        </li>
                        <li style="display:none;">
                            Miss Sixty                      (0)
                        </li>
                        <li style="display:none;">
                            Mode in France                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmec77b.html?marque_lunettes=390">
                            Morgan      </a>
                            (11)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmef446.html?marque_lunettes=579">
                            Morphoz     </a>
                            (19)
                        </li>
                        <li style="display:none;">
                            Morphoz & Co                        (0)
                        </li>
                        <li style="display:none;">
                            My Star                     (0)
                        </li>
                        <li style="display:none;">
                            Naf Naf                     (0)
                        </li>
                        <li style="display:none;">
                            Nike                        (0)
                        </li>
                        <li style="display:none;">
                            Nina Ricci                      (0)
                        </li>
                        <li style="display:none;">
                            Oakley                      (0)
                        </li>
                        <li style="display:none;">
                            Optic 2000                      (0)
                        </li>
                        <li style="display:none;">
                            Oxbow                       (0)
                        </li>
                        <li style="display:none;">
                            Oxydo                       (0)
                        </li>
                        <li style="display:none;">
                            O² By Optic 2000                        (0)
                        </li>
                        <li style="display:none;">
                            O² Indigo                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeedd6.html?marque_lunettes=23">
                            Paul & Joe      </a>
                            (25)
                        </li>
                        <li style="display:none;">
                            Piwatoo                     (0)
                        </li>
                        <li style="display:none;">
                            Polaroid                        (0)
                        </li>
                        <li style="display:none;">
                            Police                      (0)
                        </li>
                        <li style="display:none;">
                            Polo Ralph Lauren                       (0)
                        </li>
                        <li style="display:none;">
                            Prudensee                       (0)
                        </li>
                        <li style="display:none;">
                            Puma                        (0)
                        </li>
                        <li style="display:none;">
                            Püre                        (0)
                        </li>
                        <li style="display:none;">
                            Püre Design                     (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme7476.html?marque_lunettes=606">
                            Ralph Lauren        </a>
                            (9)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme2571.html?marque_lunettes=22">
                            Ray Ban     </a>
                            (30)
                        </li>
                        <li style="display:none;">
                            Replay                      (0)
                        </li>
                        <li style="display:none;">
                            Rétro                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmec641.html?marque_lunettes=608">
                            Rétro       </a>
                            (9)
                        </li>
                        <li style="display:none;">
                            RG512                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme8c10.html?marque_lunettes=20">
                            Rip Curl        </a>
                            (8)
                        </li>
                        <li style="display:none;">
                            Rochas                      (0)
                        </li>
                        <li style="display:none;">
                            Saint Laurent Paris                     (0)
                        </li>
                        <li style="display:none;">
                            Schott                      (0)
                        </li>
                        <li style="display:none;">
                            SeeHome                     (0)
                        </li>
                        <li style="display:none;">
                            SeeHome - SEE HOME PINK FLUO Rose                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme5747.html?marque_lunettes=17">
                            Seiko       </a>
                            (17)
                        </li>
                        <li style="display:none;">
                            Serengeti                       (0)
                        </li>
                        <li style="display:none;">
                            Solair                      (0)
                        </li>
                        <li style="display:none;">
                            Solmania                        (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmec58f.html?marque_lunettes=16">
                            Sonia Rykiel        </a>
                            (14)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmeec25.html?marque_lunettes=545">
                            Tango       </a>
                            (10)
                        </li>
                        <li style="display:none;">
                            Tara Jarmon                     (0)
                        </li>
                        <li style="display:none;">
                            Timberland                      (0)
                        </li>
                        <li style="display:none;">
                            Tour Auto                       (0)
                        </li>
                        <li style="display:none;">
                            Tour Auto 2014                      (0)
                        </li>
                        <li style="display:none;">
                            Tour Auto 2015                      (0)
                        </li>
                        <li style="display:none;">
                            Tour Auto 2016                      (0)
                        </li>
                        <li style="display:none;">
                            Trussardi                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme8614.html?marque_lunettes=15">
                            Vogue       </a>
                            (35)
                        </li>
                        <li style="display:none;">
                            Vuarnet                     (0)
                        </li>
                        <li style="display:none;">
                            Whaoo                       (0)
                        </li>
                        <li style="display:none;">
                            Whaoo Bébé                      (0)
                        </li>
                        <li style="display:none;">
                            Yves ST Laurent                     (0)
                        </li>
                        <li style="display:none;">
                            Zadig et Voltaire                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme4c47.html?marque_lunettes=617">
                            Ze'st       </a>
                            (17)
                        </li>
                        <li style="display:none;">
                            Zest                        (0)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('style_monture');">
                    <span class="filter-name">Style</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-style_monture">
                    <ol class=" ">
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme4d67.html?style_monture=118">
                            Classique       </a>
                            (137)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmed65a.html?style_monture=420">
                            Couturier       </a>
                            (8)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme48e0.html?style_monture=116">
                            Créateur        </a>
                            (318)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme98d9.html?style_monture=419">
                            Glamour     </a>
                            (3)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme46a3.html?style_monture=418">
                            Pop     </a>
                            (5)
                        </li>
                        <li style="display:none;">
                            Sport                       (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme570c.html?style_monture=417">
                            Sportswear      </a>
                            (12)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femme515a.html?style_monture=415">
                            Urbain      </a>
                            (59)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                " href="femmef2d2.html?style_monture=119">
                            Vintage     </a>
                            (70)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('forme_monture');">
                    <span class="filter-name">Forme</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-forme_monture">
                    
                    <ol class="image-align-default   ">
                        
                        <li>
                            <a rel="nofollow" title="Aviateur" onclick="
                                " href="femme49e6.html?forme_monture=69">
                                
                                <img width="34" height="13" title="Aviateur" src="{{ asset('media/option_image/Aviateur.png') }}" alt="Aviateur"/>
                                
                                
                                
                                <span class="filter-label">Aviateur
                                    (1)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Carré" onclick="
                                " href="femme7d2f.html?forme_monture=414">
                                
                                <img width="34" height="13" title="Carré" src="{{ asset('media/option_image/Carre.png') }}" alt="Carré"/>
                                
                                <span class="filter-label">Carré
                                    (66)
                                </span>
                            </a>
                            
                        </li>
                        
                        <li>
                            <a rel="nofollow" title="Clubmaster" onclick="
                                " href="femmea0b9.html?forme_monture=580">
                                
                                
                                <img width="34" height="13" title="Clubmaster" src="{{ asset('media/option_image/Clubmaster.png') }}" alt="Clubmaster"/>
                                
                                
                                
                                <span class="filter-label">Clubmaster
                                    (6)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li style="display:none;">
                            
                            
                            
                            
                            
                            <img width="34" height="13" title="Masque" src="{{ asset('media/option_image/Masque.png') }}" alt="Masque"/>
                            
                            
                            <span class="filter-label">Masque</span>
                            
                            (0)
                            
                            
                        </li>
                        
                        <li style="display:none;">
                            
                            
                            
                            
                            
                            <img width="34" height="13" title="Masque de ski" src="{{ asset('media/option_image/Masque%20de%20ski.png') }}" alt="Masque de ski"/>
                            
                            <span class="filter-label">Masque de ski</span>
                            
                            (0)
                        </li>
                        
                        <li>
                            
                            <a rel="nofollow" title="Ovale" onclick="
                                " href="femme1573.html?forme_monture=71">
                                
                                <img width="34" height="13" title="Ovale" src="{{ asset('media/option_image/Ovale.png') }}" alt="Ovale"/>
                                
                                
                                
                                <span class="filter-label">Ovale
                                    (75)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            <a rel="nofollow" title="Papillon" onclick="
                                " href="femme40f2.html?forme_monture=67">
                                
                                <img width="34" height="13" title="Papillon" src="{{ asset('media/option_image/Papillon.png') }}" alt="Papillon"/>
                                
                                <span class="filter-label">Papillon
                                    (101)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li style="display:none;">
                            <img width="34" height="13" title="Pilote" src="{{ asset('media/option_image/Pilote.png') }}" alt="Pilote"/>
                            
                            
                            <span class="filter-label">Pilote</span>
                            
                            (0)
                            
                            
                        </li>
                        
                        <li>
                            <a rel="nofollow" title="Rectangulaire" onclick="
                                " href="femmed1aa.html?forme_monture=72">
                                
                                <img width="34" height="13" title="Rectangulaire" src="{{ asset('media/option_image/Rectangulaire.png') }}" alt="Rectangulaire"/>
                                
                                <span class="filter-label">Rectangulaire
                                    (94)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            <a rel="nofollow" title="Ronde" onclick="
                                " href="femme5992.html?forme_monture=70">
                                
                                <img width="34" height="13" title="Ronde" src="{{ asset('media/option_image/Ronde.png') }}" alt="Ronde"/>
                                
                                
                                
                                <span class="filter-label">Ronde
                                    (166)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Wayfarer" onclick="
                                " href="femme14bb.html?forme_monture=68">
                                
                                
                                
                                <img width="34" height="13" title="Wayfarer" src="{{ asset('media/option_image/Wayfarer.png') }}" alt="Wayfarer"/>
                                
                                <span class="filter-label">Wayfarer
                                    (82)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('matiere_monture');">
                    <span class="filter-name">Matière</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-matiere_monture">
                    <ol class=" ">
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26matiere_monture%3D47');
                                return false;
                                " href="femmec932.html?matiere_monture=47">
                            Métal       </a>
                            (191)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26matiere_monture%3D45');
                                return false;
                                " href="femme5721.html?matiere_monture=45">
                            Plastique       </a>
                            (396)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26matiere_monture%3D46');
                                return false;
                                " href="femmed6eb.html?matiere_monture=46">
                            Titane      </a>
                            (9)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('couleur_dominante');">
                    <span class="filter-name">Couleur</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-couleur_dominante">
                    
                    <ol class="image-align-default   ">
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Blanc" onclick="
                                " href="femme634b.html?couleur_dominante=94">
                                
                                
                                
                                <img width="16" height="16" title="Blanc" src="{{ asset('media/option_image/Blanc.png') }}" alt="Blanc"/>
                                
                                
                                
                                <span class="filter-label">Blanc
                                    (1)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Bleu" onclick="
                                " href="femmee3e3.html?couleur_dominante=99">
                                
                                
                                
                                <img width="16" height="16" title="Bleu" src="{{ asset('media/option_image/Bleu.png') }}" alt="Bleu"/>
                                
                                
                                
                                <span class="filter-label">Bleu
                                    (45)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Cristal" onclick="
                                " href="femme8bb1.html?couleur_dominante=90">
                                
                                
                                
                                <img width="16" height="16" title="Cristal" src="{{ asset('media/option_image/Cristal.png') }}" alt="Cristal"/>
                                
                                
                                
                                <span class="filter-label">Cristal
                                    (3)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Dore" onclick="
                                " href="femmec7b8.html?couleur_dominante=101">
                                
                                
                                
                                <img width="16" height="16" title="Dore" src="{{ asset('media/option_image/Dore.png') }}" alt="Dore"/>
                                
                                
                                
                                <span class="filter-label">Dore
                                    (29)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Ecaille" onclick="
                                " href="femme4f51.html?couleur_dominante=92">
                                
                                
                                
                                <img width="16" height="16" title="Ecaille" src="{{ asset('media/option_image/Ecaille.png') }}" alt="Ecaille"/>
                                
                                
                                
                                <span class="filter-label">Ecaille
                                    (120)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Gris" onclick="
                                " href="femme2084.html?couleur_dominante=95">
                                
                                
                                
                                <img width="16" height="16" title="Gris" src="{{ asset('media/option_image/Gris.png') }}" alt="Gris"/>
                                
                                
                                
                                <span class="filter-label">Gris
                                    (33)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Gun" onclick="
                                " href="femmedb69.html?couleur_dominante=590">
                                
                                
                                
                                <img width="16" height="16" title="Gun" src="{{ asset('media/option_image/Gun.png') }}" alt="Gun"/>
                                
                                
                                
                                <span class="filter-label">Gun
                                    (2)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li style="display:none;">
                            
                            
                            
                            
                            
                            <img width="16" height="16" title="Jaune" src="{{ asset('media/catalog/category/Jaune.png') }}" alt="Jaune"/>
                            
                            
                            <span class="filter-label">Jaune</span>
                            
                            (0)
                            
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Marron" onclick="
                                " href="femmedefb.html?couleur_dominante=100">
                                
                                
                                
                                <img width="16" height="16" title="Marron" src="{{ asset('media/option_image/Marron.png') }}" alt="Marron"/>
                                
                                
                                
                                <span class="filter-label">Marron
                                    (38)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Noir" onclick="
                                " href="femme6bfc.html?couleur_dominante=102">
                                
                                
                                
                                <img width="16" height="16" title="Noir" src="{{ asset('media/option_image/Noir.png') }}" alt="Noir"/>
                                
                                
                                
                                <span class="filter-label">Noir
                                    (146)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Rose" onclick="
                                " href="femme3372.html?couleur_dominante=93">
                                
                                
                                
                                <img width="16" height="16" title="Rose" src="{{ asset('media/option_image/Rose.png') }}" alt="Rose"/>
                                
                                
                                
                                <span class="filter-label">Rose
                                    (35)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Rouge" onclick="
                                " href="femme74a3.html?couleur_dominante=97">
                                
                                
                                
                                <img width="16" height="16" title="Rouge" src="{{ asset('media/option_image/Rouge.png') }}" alt="Rouge"/>
                                
                                
                                
                                <span class="filter-label">Rouge
                                    (74)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Vert" onclick="
                                " href="femme6174.html?couleur_dominante=98">
                                
                                
                                
                                <img width="16" height="16" title="Vert" src="{{ asset('media/option_image/Vert.png') }}" alt="Vert"/>
                                
                                
                                
                                <span class="filter-label">Vert
                                    (3)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Violet" onclick="
                                " href="femme3c1a.html?couleur_dominante=96">
                                
                                
                                
                                <img width="16" height="16" title="Violet" src="{{ asset('media/option_image/Violet.png') }}" alt="Violet"/>
                                
                                
                                
                                <span class="filter-label">Violet
                                    (48)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                        
                        <li>
                            
                            
                            
                            <a rel="nofollow" title="Orange" onclick="
                                " href="femme1d79.html?couleur_dominante=473">
                                
                                
                                
                                <img width="16" height="16" title="Orange" src="{{ asset('media/option_image/Orange.png') }}" alt="Orange"/>
                                
                                
                                
                                <span class="filter-label">Orange
                                    (1)
                                    
                                </span>
                                
                            </a>
                            
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('taille_monture');">
                    <span class="filter-name">Taille</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-taille_monture">
                    <ol class=" ">
                        <li style="display:none;">
                            Adolescent                      (0)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26taille_monture%3D120');
                                return false;
                                " href="femme4f74.html?taille_monture=120">
                            Adulte L        </a>
                            (604)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26taille_monture%3D121');
                                return false;
                                " href="femmec5f4.html?taille_monture=121">
                            Adulte M        </a>
                            (6)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26taille_monture%3D122');
                                return false;
                                " href="femme3554.html?taille_monture=122">
                            Adulte S        </a>
                            (4)
                        </li>
                        <li style="display:none;">
                            Bébé                        (0)
                        </li>
                        <li style="display:none;">
                            Enfant                      (0)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('type_monture');">
                    <span class="filter-name">Type monture</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-type_monture">
                    <ol class=" ">
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26type_monture%3D55');
                                return false;
                                " href="femmebc71.html?type_monture=55">
                            Cerclée     </a>
                            (594)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26type_monture%3D53');
                                return false;
                                " href="femme6a77.html?type_monture=53">
                            Percée      </a>
                            (2)
                        </li>
                        <li>
                            <a rel="nofollow" onclick="
                                setNavigationUrl('https%3A%2F%2Fwww.optic2000.com%2Flunettes%2Ffemme.html%3Fajax%3D1%26type_monture%3D168');
                                return false;
                                " href="femme3b33.html?type_monture=168">
                            Semi-cerclée        </a>
                            (13)
                        </li>
                    </ol>
                    </dd>
                </dl>
                
                <dl class="gan-attribute">
                    <dt onclick="navigationOpenFilter('price');">
                    <span class="filter-name">Prix</span>
                    </dt>
                    <dd id="advancednavigation-filter-content-price">
                    
                    <div class="filter-type-input hidden">
                        <form onsubmit="submitNavigationForm(this, 'femmec2d0.html?ajax=1', 1);return false;" id="price-filter-form" action="https://www.optic2000.com/lunettes/femme.html?ajax=1">
                            <fieldset class="filter-fieldset">
                                
                                <div class="from-wrapper">
                                    <label><span>De</span><input class="navigation-from" type="text" name="price_from" value="39"/></label>
                                </div>
                                
                                <div class="from-wrapper">
                                    <label><span>À</span><input class="navigation-to" type="text" name="price_to" value="489"/></label>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                    
                    <div id="price-track" class="gan-track">
                        <div id="price-handle-from" class="handle handle-left" onclick="">
                            <span class="handle-left-bg">
                                <span class="slider-span">
                                </span>
                            </span>
                        </div>
                        <div id="price-handle-to" class="handle handle-right" onclick="">
                            <span class="handle-right-bg">
                                <span class="slider-span">
                                </span>
                            </span>
                        </div>
                        <div class="slider-back-bg"></div>
                        <div id="price-square_slider_span" class="span" style="position:absolute;">
                            
                            <div class="gan-slider-span"></div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="gan-track-values">
                        <span class="track-value value-min" id="price-value-from"></span>
                        <span class="track-value value-max" id="price-value-to"></span>
                    </div>
                    
                    <div class="hidden" id='price-value'></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>    
</div>